@model Entitys.SendRecord
@{
    var settings = ViewData["Sites"] as List<Entitys.SiteAccount>;
}
<div class="modal-content">
    <form class="form-horizontal" data-ajax="true" data-ajax-complete="ajaxRvCompleted" asp-action="DoAdd" asp-controller="SendRecord" data-ajax-method="post">

        <div class="modal-body">

            <div class="row mb-3 align-items-end">

                <div class="col-12 mb-3">
                    <label class="form-label">发文站点</label>
                    <select asp-for="Id" class="form-control">
                        <option value=""></option>
                        @if (settings?.Count > 0)
                        {
                            @foreach (var item in settings)
                            {
                                <option value="@item.Id">@item.Site</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Id" class="text-danger"> </span>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">创建</button>
        </div>
    </form>

</div>

