
@{
    Layout = "_NullLayOut";
}
<body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="flex-fill d-flex flex-column justify-content-center py-4">
        <div class="container-tight py-6">
            <div class="text-center mb-4">
                <a href="/"><img src="./static/logo.svg" height="36" alt=""></a>
            </div>
            <form class="card card-md" data-ajax="true" data-ajax-complete="Completed" asp-action="DoLogin" asp-controller="Login" data-ajax-method="post" autocomplete="off">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">邮件管理后台</h2>
                    <div class="mb-3">
                        <label class="form-label">账号</label>
                        <input type="text" name="account" class="form-control" placeholder="">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">
                            密码
                        </label>
                        <div class="input-group input-group-flat">
                            <input type="password" name="Pwd" class="form-control" placeholder="" autocomplete="off">

                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Sign in</button>
                        @*<a  data-src="/Register/Add" >Add</a>*@
                    </div>
                </div>

            </form>
        </div>
    </div>

</body>

<script>
    function Completed(data) {
        if (data.status != 200) {
            $.tipsError(data.responseText);
            return;
        }
        if (data.responseJSON != false && data.responseJSON) {

            $.tipsOk("登陆成功")
            window.location = '/';
        }
        else {
            $.tipsError("登陆失败");
        }
    }
</script>