@model AIText.AiAccount
@{

}
<div class="modal-content">
    <form class="form-horizontal" data-ajax="true" data-ajax-complete="ajaxRvCompleted" asp-action="DoEdit" asp-controller="AiAccount" data-ajax-method="post">
        @Html.HiddenFor(obj => obj.Id)
        <div class="modal-body">

                       <div class="row mb-3 align-items-end">

                <div class="col">
                    <label class="form-label">网站</label>
                    <input asp-for="Site" class="bg-focus form-control parsley-validated" />
                    <span asp-validation-for="Site" class="text-danger"> </span>
                </div>
                
            </div>
            <div class="row mb-3 align-items-end">
            <div class="col">
                <label class="form-label">ApiKey</label>
                <input asp-for="ApiKey" class="bg-focus form-control parsley-validated" />
                <span asp-validation-for="ApiKey" class="text-danger"> </span>
            </div>
            </div>



            <div class="row mb-3 align-items-end">
                <div class="col">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="IsEnable">
                        <span class="form-check-label">是否启用</span>
                    </label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">创建</button>
        </div>
    </form>

</div>

