@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="~/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/dist/css/demo.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/sco/scojs.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    @RenderBody()
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/dist/js/tabler.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



    <script src="~/lib/sco/sco.confirm.js"></script>
    <script src="~/lib/sco/sco.message.js"></script>
    <script src="~/lib/sco/sco.modal.js"></script>
    <script src="/lib/box/box.js?1=1"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>