<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <!-- 配置日志输出目标 -->
  <targets>
    <!-- 控制台输出 -->
    <target xsi:type="Console" name="console" layout="${longdate} [${level}] ${message} ${exception:format=ToString}" />

    <!-- 文件输出 -->
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log"
            layout="${longdate} [${level}] ${message} ${exception:format=ToString}"
            createDirs="true" />
  </targets>

  <!-- 配置日志记录规则 -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>

</nlog>